body{
background-color: #FEFFEC;
overflow-x: hidden;
}
.navbar{
z-index: 1000;
background-color: #FEFFEC;
position:fixed;
width: 100%;
}
.navbar-nav{
  margin-right:50px;
}
.navbar-brand{
  font-size:25px;
}
.navbar-brand:hover{
  font-weight: bold;

}
.navbar-logo-img{
  margin-right: 10px;
  margin-left:20px;
  opacity: 0.8;
  }
.nav-item{
  margin-left: 5px;
}


.btn-nav{
background-color: #6b6bff;

color: white;
  border-radius: 14px;
border:none;
  padding: 0;

  width:5rem;
  height: 2rem;
  margin-top: 4px;
  margin-left: 8px;
}
.btn-nav:hover{
  position: relative;

  background-color: blue;
  font-weight: bold;
  width: 5.3rem;
  left: 7px;

}
@media only screen and (max-width: 990px) {
  .btn-nav{
    margin-left:0;

  }

  .btn-nav:hover{
    left:-3px;
  }
}

.nav-item-nv:hover{

  font-weight: bold;
font-size: 17px;

}






.introduction{
  background-color: rgba(133, 206, 222, 0.3);
}
.intro-img{
  width:50%;
  margin-top: 80px;
  margin-bottom: 60px;
}
.intro-text{
  margin-top: 175px;
  margin-left: 150px;
}
.btn-intro{
background-color: #6b6bff;

color: white;
  border-radius: 14px;
border:none;



  width:8rem;
  height: 3.5rem;
  margin-top: 50px;

}
.btn-intro:hover{
  position: relative;
  right: 8px;
  background-color: blue;
  font-weight: bold;
  width: 9rem;


}
@media only screen and (max-width: 765px) {
.introduction{
    text-align: center;
  }
  .intro-img{
    width:100%;
  }
}


.choose-us{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.chooseus-row{
    margin-left: 40px;
  margin-right: 50px;
  margin-top:110px;
}
.chooseus-img{
  height: 60px;
  width: 60px;
}
.why-choose-us{
  position: relative;

}
.why-choose-us::after{

content: "";
display: block;
position: absolute;

border:  solid #6A77ED;
border-top: none;
border-width: thick;
width: 14%;

left: 43.6%;
right: 41.04%;
top: 138%;

}



/* footer */
footer{
  color:white;
  background-color: black;
  text-align: center;
  padding-top: 1.2%;
  padding-bottom: 1%;
}
.foot-icon{
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.8;
}
.achievement{
  text-align: center;
  }
  .achievement-left{
    position: relative;
    top: 60px;
  }
  .achievement-right{
    text-align: left;

  }
  .achievement-img{
position: relative;
right: 20px;
  }
.achievement-right-text{
  position: relative;
  left: 40px;
  bottom: 50px;
}
@media only screen and (max-width: 765px) {

.achievement-left{
  position: static;
  text-align: center;
}
.achievement-right{
  /* position: relative;
  left: 100px; */
  margin-top: 20px;

}
.achievement-right-text{
  position: relative;
  left:270px;
}
.achievement-img{
position: relative;
left:205px;
}
}.organize-last{
  text-align: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 200px;

}

.organize-last-text{
  font-weight: bolder;
}
.organize-last-first-img{
  position: absolute;
  height: 250px;
  width:250px;
  left:25%;
  top: -10px;
  z-index: -1;
}
.organize-last-second-img{
  position: absolute;
  height: 300px;
  width: 300px;
  right:25%;
  top: 10%;
  z-index: -1;
}
.organize-last-btn{
background-color: #6b6bff;

color: white;
  /* border-radius: 14px; */
border:none;
  padding: 0;

  width:7rem;
  height: 2rem;
  margin-top:30px;
}
.organize-last-btn:hover{
  position: relative;

  background-color: blue;
  font-weight: bold;
  width: 7.2rem;

}
/* @media only screen and (max-width: 900px) {
  .organize-last-first-img{
    position: absolute;
    height: 150px;
    width:150px;
    left:10%;
    top: -20px;
    z-index: -1;
  }
  .organize-last-second-img{
    position: absolute;
    height: 150px;
    width: 150px;
    right:10%;
    top: 10%;
    z-index: -1;
  }
} */
.stories {
  text-align: center;

}
.stories-flex{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* margin-left: 300px; */
}
.stories-1{
  /* display: inline-block; */
  /* height:390px; */

  width:351px;
  background-color: white;
}
.stories-2{
  /* display: inline-block; */

  /* height:390px; */

  width:351px;
  background-color: white;
}
.stories-3{
  /* display: inline-block; */
  /* height:390px; */

  width:351px;
  background-color: white;
}
.stories-1-text{
  position: relative;
  width: 70%;
  /* left: 50px;
  bottom: 15px; */
  text-align: left;
  margin-left: 60px;
  bottom: 25px;
}
.stories-quote{

  text-align: left;
  width: 7%;
  margin-left: -300px;
  margin-top: 20px;
}
.girl-1{
margin-left: -200px;
transform: scale(0.8);

}
.girl-1-name{
  /* position: relative; */
  bottom: 65px;
  left: 50px
}
.stories-header{
  text-align: left;
  margin-left:225px;
}
.stories-header-text{
  /* position: relative; */
  left:100px;
  bottom:50px;
}
